@page
@model RazorPagesMovie.Pages.Studios.IndexModel

@{
    ViewData["Title"] = "Studios";
}

<h1>Studios</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Studios[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studios[0].Budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studios[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studios[0].Director)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Studios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @if (item.Director != null) {
                    @Html.DisplayFor(modelItem => item.Director.FirstMidName)
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
